* {
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}

.hero {
	height: 100vh;
	width: 100%;
	background-color: #101010;
	background-image: url(../img/background.jpg);
	background-size: cover;
	background-position: center;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
}

.logo {
	font-family: Georgia, Times, 'Times New Roman', serif;
	color: white;
	font-size: 45px;
	letter-spacing: 1px;
	cursor: pointer;
}

.nav.log {
	color: white;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}

span {
	color: #f9004d;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 10px 25px;
}

nav ul li a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}

nav ul li a:hover {
	color: #f9004d;
	text-decoration-line: underline;
	transition: 0.4s;
}

.btn {
	background-color: #f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform 0.4s;
}

.btn:hover {
	transform: scale(1.2);
}

.content {
	position: absolute;
	top: 50%;
	left: 8%;
	transform: translateY(-50%);
}

h1 {
	color: white;
	margin: 20px 0px 10px;
	font-size: 90px;
}

h3 {
	color: white;
	font-size: 25px;
	margin-bottom: 50px;
}

h4 {
	color: #fcfc;
	letter-spacing: 2px;
	font-size: 20px;
}

h6 {
	color: #fcfc;
	letter-spacing: 2px;
	font-size: 15px;
}

.newslatter form {
	width: 380px;
	max-width: 100%;
	position: relative;
}

.newslatter form input:first-child {
	display: inline-block;
	width: 100%;
	padding: 14px 130px 14px 15px;
	border: 2px solid #f9004d;
	outline: none;
	border-radius: 30px;
}

.newslatter form input:last-child {
	position: absolute;
	display: inline-block;
	outline: none;
	border: none;
	padding: 10px 30px;
	border-radius: 30px;
	background-color: #f9004d;
	color: white;
	box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
	top: 6px;
	right: 6px;
}

.about {
	width: 100%;
	padding: 100px 0px;
	background-color: #191919;
}

.about img {
	height: auto;
	width: 350px;
}

.about-text {
	width: 550px;
}

.main {
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.about-text h2 {
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}

.about-text h5 {
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}

.about-text p {
	font-family: cursive;
	color: #fcfc;
	letter-spacing: 0px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 30px;
}

button {
	background-color: #f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: 0.4s;
}

button:hover {
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}

.service {
	background: #101010;
	width: 100%;
	padding: 100px 0px;
}

.title h2 {
	color: white;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}

.box {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}

.card {
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}

.card i {
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #f9004d;
}

h5 {
	color: white;
	font-size: 22px;
	margin-bottom: 15px;
}

.pra p {
	color: #fcfc;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}

.card .button {
	background-color: #f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: 0.4s;
}

.card .button:hover {
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}

footer {
	position: relative;
	width: 100%;
	height: 400px;
	background: #191919;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

footer p:nth-child(1) {
	font-size: 55px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}

.social {
	display: flex;
}

.social a {
	width: 55px;
	height: 55px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #f9f8f9;
	border-radius: 50%;
	margin: 22px 10px;
	color: aqua;
	text-decoration: none;
	font-size: 20px;
}

.social a:hover {
	transform: scale(1.5);
	transition: 0.4s;
}

#coff {
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

#pic {
	position: absolute;
	top: 150px;
	left: 850px;
	width: 250px;
	height: 400px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}

#nikki {
	background: linear-gradient(90deg, #be0338, #8f908b);
	font-family: poppins;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* === Animation: Bottom to Top Entry === */
@keyframes slideUpFade {
	0% {
		opacity: 0;
		transform: translateY(60px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.animate-up {
	opacity: 0;
	animation: slideUpFade 1s ease-out forwards;
}

/* Delay classes for staggered animation */
.delay-1 {
	animation-delay: 0.2s;
}
.delay-2 {
	animation-delay: 0.4s;
}
.delay-3 {
	animation-delay: 0.6s;
	position: relative;
	top: 10em; 	
}
.delay-4 {
	animation-delay: 0.8s;
}
.delay-5 {
	animation-delay: 1s;
}
